body {
    background: #FEFAE0;
    font-family: "Karla", sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 85px;
    color: #283618;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 55px;
    border-bottom: 10px dotted #283618;
    border-bottom-width: 1.5rem;
    width: 70%;
}

.Daria {
    font-weight: bolder; 
    font-size: 115px; 
    color: #606C38; 
    margin-left: 450px;
    border-bottom: 10px dotted #606C38;
    border-bottom-width: 1.5rem;
    width: 68%;
}

.Gra {
    font-weight: bold; 
    color: #283618;
    font-size: 35px; 
    margin-left: 635px;
    margin-top: 4rem;
}

.Tech {
    font-weight: bold; 
    font-size: 35px; 
    margin-left: 639px;
    color: #283618; 

}

.Design {
    font-weight: bold; 
    font-size: 20px; 
    color: #283618;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: #283618;
    width: 74%;


}

 .Herb {
    font-weight: bold; 
    font-size: 20px; 
    color: #283618;
    margin-left: 10rem;
    margin-bottom: 1.5rem;
 }


 .ASU {
    margin-right: 10rem;

 }

 .Help {
    font-weight: bold; 
    font-size: 20px; 
    color: #283618;
    display: flex;
    justify-content: space-between;
    
 }



.three {
    text-align: center;
    font-weight: bold; 
    font-size: 24px; 
    color: #7B8B46; 
    margin-left: 639px;
    margin: 1px solid #283618;
    display: flex;
    border: 1px solid #283618;
    padding: 2rem;
    width: 12%;
    display: inline-block; 
    background: #FEFAE0;
    transition: backgrounds .2;
    pointer-events: all;
    
}

.six {
    text-align: center;
    font-weight: bold; 
    font-size: 24px; 
    color: #7B8B46;
    margin-left: 639px; 
    display: flex;
    border: 1px solid #283618;
    padding: 2rem;
    width: 12%;
    display: inline-block; 
    background: #FEFAE0;
    transition: backgrounds .2;
    pointer-events: all;
    
} 

.SpaceContainer {
    pointer-events: none;
}

.SpaceContainer:hover .three {
    background: #283618;
    color:#7B8B46;
}

.SpaceContainer:hover .six{
    background: #283618;
    color: #7B8B46;
}

a {
    font-weight: bold; 
    font-size: 24px; 
    text-align: center;
    margin-left: 639px;
    color: #7B8B46; 
    margin: 1px solid #283618;
    display: flex;
    border: 1px solid #283618;
    padding: 2rem;
    width: 12%;
}

.Space {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
}

@media screen and (min-width: 340px) {
     
    .h1{
        font-size: 80px;
        text-align: left;
        max-width: 40%;
     }

     .Daria {
        text-align: left;
        width: 340px; 
        min-height: 340px;
        align-self: flex-end;

     }

     .Gra {
        text-align: left;
        
     }

     .Herb {
        text-align: left;
     }

     .ASU {
        max-width: 20%;
        align-content: space-around;
        border: 10rem 1rem 10rem 1rem; 
     }
     
     .Design {
        text-align: left;
        justify-content: center;
     }

     .three {
        text-align: center;
        
     }

     .six {
        align-items: center;
     }
     .Space {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 400px;
        align-items: flex-end;

     }

     .a {
        display: flex;
        flex-direction: column;
        height: 400px;
        align-items: left;
     }

}