body {
    background: #FEFAE0;
    font-family: "Karla", sans-serif; 
}

h1 {
    background-color: rgb(123, 139, 70, .2); 
    font-weight: 700;
    font-size: 85px;
    color: #7B8B46; 
    padding: 2rem 0rem 2rem 2rem;
}

.Tech {
    font-weight: 700; 
    font-size: 20px; ;
    color: #283618;
    padding: 2rem;

}

.TOB {
    font-weight: 700; 
    font-size: 15px; 
    color: #606C38; 
    width: 68%;
}


.Design {
    font-weight: 400; 
    font-size: 20px; 
    color: #283618;
    width: 74%;


}

 .Herb {
    font-weight: 400; 
    font-size: 20px; 
    color: #283618;
 }


 .ASU {
    margin-right: 10rem;

 }


 @media screen and (min-width: 340px)  {
    .h1 {
        position: absolute;
    }

 }