/* Base styles */ 

body {
font-family: 'Nunito Sans', sans-serif; 
}


.nav-active {
  color: red;
}





h1 {
    font-size: 18px;
    font-weight: 900;
    color: #595959;
    padding-left: 1000px;
    padding-right: 60px;
    padding-bottom: 1.5rem;
    
}


p {
    font-size: 16px;
    font-weight: 900;
    color: #595959;
    padding: .5rem;
}


h2 {
    font-size: 32px;
    font-weight: 900;
    color: #595959;
    padding-right: 35rem;
    padding-left: 10rem;
    padding-top: 1rem;
}

h3 {
    font-size: 38px;
    font-weight: 900;
    color: #2cace3;
    text-align: center;
    padding: .5rem;

    
}

h4 {
    font-size: 32px;
    font-weight: 900;
    color: #595959;
    padding-right: 25rem;
    padding-left: 10rem;
    padding-top: 10rem;
    
}

h5 {
    font-size: 36px;
    font-weight: 400;
    color: #595959;
    text-align: center;
    padding: 5rem;
}

h6 {
    font-size: 36px;
    font-weight: 400;
    color: #595959;
    text-align: left;
    padding: 1.0rem;

}


/* Core Elements and Typography (h1,h2, fig, p..) */ 

.work {
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 2rem;
    padding-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.work img {
    transition: .3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;

}

.work img:hover {
    transform: scale(0.93);
    transition: .3s;
    opacity: 1.0;
}

header {
    background-image: url('../img/.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.DG {
    max-width: 80px;
}     




/* Nav */ 


nav {
    display: none;
    position: absolute;
    background: transparent;
    padding: 1rem;
    right: 0;
    margin-top: 15px;
}

.button-menu {
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 0;


}

.fa-bars {
    font-size: 2rem;

}

.open {
    max-height: 400px;
    max-width: 400px;
    display: block;
}

li {
    font-family: 'Nunito Sans', sans-serif;
    font: 10px;
    font-weight: 400;
    list-style: none;
    text-align: right;
}

nav a {
    color: black; 
    text-decoration: none;
}

.nav-active {
    color: blue;
    font-weight: 600;
}

.ah {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Single Project Template (project 1, 2 ....) */ 

/* p3 */ 

.codepenimages {
    scale: 92%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9rem;
    box-shadow: #595959 5;
}

/* Home Project Template (.home h1...) */ 


@media screen and (min-width: 600px) {
    
}
