/* Base styles */ 

body {
font-family: 'Nunito Sans', sans-serif; 
}


.nav-active {
  color: red;
}

/* Core Elements and Typography (h1,h2, fig, p..) */ 
 
h1 {
    font-size: 18px;
    font-weight: 900;
    color: #595959;
    text-align: center;
}

p {
    font-size: 16px;
    font-weight: 16px;
    color: #595959;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: 900;
    color: #595959;
    text-align: center;
    border-top: 10px;
}

h3 {
    font-size: 38px;
    font-weight: 900;
    color: #ca183d;
    text-align: center;

    
}


.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.work img {
    transition: .3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;

}

.work img:hover {
    transform: scale(0.93);
    transition: .3s;
    opacity: 1.0;
}

header {
    background-image: url('../img/.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero {
    max-height: 50vh;
}

.DG {
    max-width: 80px;
    }      


/* Single Project Template (project 1, 2 ....) */ 





/* Home Project Template (.home h1...) */ 


@media screen and (min-width: 600px) {
    
}
