/* Base styles */ 

body {
font-family: 'Nunito Sans', sans-serif; 
}


.nav-active {
  color: red;
}

/* Core Elements and Typography (h1,h2, fig, p..) */ 



h1 {
    font-size: 18px;
    font-weight: 900;
    color: #595959;
    text-align: center;
    padding-bottom: 2.5rem;
}

p {
    font-size: 16px;
    font-weight: 16px;
    color: #595959;
    padding-right: 5rem;
}

h2 {
    font-size: 18px;
    font-weight: 900;
    color: #595959;
    text-align: center;
    border-top: 10px;
}

h3 {
    font-size: 38px;
    font-weight: 900;
    color: #ca183d;
    text-align: center;

    
}

h4 {
    font-size: 32px;
    font-weight: 900;
    color: #b81132;
    padding-right: 25rem;
    
}

h5 {
    font-size: 36px;
    font-weight: 400;
    color: #595959;
    text-align: center;
    padding: 5rem;
}

.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.work img {
    transition: .3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;

}

.work img:hover {
    transform: scale(0.93);
    transition: .3s;
    opacity: 1.0;
}

header {
    background-image: url('../img/.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero {
    max-height: 50vh;
}

.DG {
    max-width: 80px;
}     




/* Nav */ 


nav {
    display: none;
    position: absolute;
    background: transparent;
    padding: 1rem;
    right: 0;
    margin-top: 50px;
}

.button-menu {
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: 0;


}

.fa-bars {
    font-size: 2rem;

}

.open {
    max-height: 240px;
    max-width: 240px;
    display: block;
}

li {
    font-family: 'Nunito Sans', sans-serif;
    font: 12px;
    font-weight: 400;
    list-style: none;
    text-align: right;
}

nav a {
    color: black; 
    text-decoration: none;
}

.nav-active {
    color: red;
    font-weight: 600;
}

.ah {
    display: grid;
}




/* Single Project Template (project 1, 2 ....) */ 





/* Home Project Template (.home h1...) */ 


@media screen and (min-width: 600px) {
    
}
