body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bitter', serif;
}

h1 {
    font-family: Bebas Neue;
    font-size: 54px;
    text-align: center;
    color: #041349;
}

.p1 {
    font-family: Bitter;
    font-size: 36px;
    text-align: center;
    font-style: italic;
    color: #041349; 
}

.learn {
    background-color: white;
    padding-bottom: 2rem; 
    font-family: Bebas Neue; 
    font-size: 36px;
    text-align: center;
}

button {
    background-color: white;
    border: 3px solid #041349;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }

h2 {
    font-family: Bebas Neue;
    font-size: 30px;
    text-align: center;
    color: #041349;
    word-spacing: 5rem;
}

h3 {
    font-family: Bitter;
    font-size: 50px;
    text-align: center;
    color: #041349;
    float:right; 

}

header {
    background-image: url('../img/Header.jpg');
    background-size: cover; 
    position: relative;
    max-width: fit-content;
    height: 20vh;
}

.intro {
    font-family: Bitter;
    font-style: italic; 
    font-size: 26px;
    text-align: center;
    color: #041349;
    padding: 2rem;
}

.vodka {
    font-family: Bitter;
    font-style: italic; 
    font-size: 24px;
    text-align: center;
    color: #041349;
    float:right; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   max-width: 400px;
  }

.drinksmore {
    margin-top: 50px;
    display: flexbox;
    justify-content: left;
}

.work-grid {
    align-content: center;
    max-width: 400px;

}



@media screen and (min-width: 340px) { 
    header {
        width: 100%;
    }

    .work-grid {
        display: flex; 
        gap: 1rem;
        align-items: center;
}
}
