body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bitter', serif;
}

h1 {
    font-family: Bebas Neue;
    font-size: 54px;
    text-align: center;
    color: #041349;
}

.p1 {
    font-family: Bitter;
    font-size: 36px;
    text-align: center;
    font-style: italic;
    color: #041349; 
}

h2 {
    font-family: Bebas Neue;
    font-size: 30px;
    text-align: center;
    color: #041349;
    word-spacing: 5rem;
}

h3 {
    font-family: Bebas Neue;
    font-size: 50px;
    text-align: center;
    color: #041349;
    word-spacing: 5rem;

}

header {
    background-image: url('../img/Header.jpg');
    background-size: cover; 
    position: relative;
    max-width: fit-content;
    height: 20vh;
}

.intro {
    font-family: Bitter;
    font-style: italic; 
    font-size: 26px;
    text-align: center;
    color: #041349;
    padding: 2rem;
}

.inner {
    margin: 0 auto;
    max-width: auto;
    position: relative;
}

.drinks {
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.drinks figure {
    margin-bottom: 2rem;
    max-width: 100;
}

.drinksinner {
    max-width: 400px; 
}

figcaption {
    font-family: Bitter;
    color: #041349;
    font-size: 40px;
    font-style: bold;
    text-align: center;

}




@media screen and (min-width: 340px) { 
    header {
        width: 100%;
    }

    .work-grid {
        display: grid; 
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
}
}
